@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap");

* {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-notfound-size {
  width: 600px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 50px;
}

.navbar-link {
  text-decoration: none;
  color: #5a5757;
}

.navbar-link:hover {
  color: #1f1d1d;
}

.navbar-nav {
  display: flex;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .img-notfound-size {
    width: 500px;
  }
}
